<div class="col-md-8 col-xs-12">
  <% unless @exercises.empty? %>

    <h1>Recent Workouts</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Exercise</th>
          <th>Work Sets</th>
          <th>Comments</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @exercises.each do |exercise| %>
          <tr>
            <td><%= exercise.name %></td>
            <td><%= exercise.work_sets %></td>
            <td><%= truncate(exercise.details, length: 50) %></td>
            <td><%= exercise.workout_date %></td>
            <td style="display:none"><%= exercise.top_set %></td>
            <td><%= link_to "Show", [current_user, exercise ], class: 'btn btn-success' %></td>
            <td><%= link_to "Edit", [:edit, current_user, exercise ], class: 'btn btn-primary' %></td>
            <td><%= link_to "Delete", [current_user, exercise], method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  <% else %>
    <div class="alert alert-danger message-font text-center" role="alert">
      No workouts yet.
    </div>
    <br>
  <% end %>

  <%= link_to "Add Workout", new_user_exercise_path(current_user), class: "btn btn-primary link" %>

  <%= content_tag :div, "", id: "chart", data: {workouts: @exercises}, style: "height:250px" %>
</div>

<div class="col-md-4 col-xs-12">
  <h1 class="text-center">My Friends</h1>
  <table class="table table-striped">
    <thead>
      <th>User</th>
      <th></th>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <tr>
          <td><%= link_to friend.full_name, friendship_path(current_user.current_friendship(friend)) %></td>
          <td><%= link_to "Unfollow", friendship_path(current_user.current_friendship(friend)), method: :delete,
                        class: "btn btn-primary pull-right", data: {confirm: "Are you sure?"} %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>