<div class="col-xs-12 col-md-10 col-md-offset-1">
  <div>
    <h2 class="show-header">Showing <%= "#{@exercise.user.full_name}'s Workout Details" %></h2>
  </div>
  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
      <strong>Date:</strong>
    </div>
    <div class="col-xs-8 text-right">
      <%= @exercise.workout_date %>
    </div>
  </div>

  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
      <strong>Exercise:</strong>
    </div>
    <div class="col-xs-8 text-right">
      <%= @exercise.name %>
    </div>
  </div>

  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
      <strong>Work Sets:</strong>
    </div>
    <div class="col-xs-8 text-right">
      <%= @exercise.work_sets %>
    </div>
  </div>

  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
      <strong>Comments:</strong>
    </div>
    <div class="col-xs-8 text-right">
      <%= @exercise.details %>
    </div>
  </div>

</div>